<div class="board-container">

    <svg width="180" height="180">
        <rect x="50" y="15" width="10" height="150" fill="black" />
        <rect x="110" y="15" width="10" height="150" fill="black" />
        <rect x="15" y="50" width="150" height="10" fill="black" />
        <rect x="15" y="110" width="150" height="10" fill="black" />
    
    </svg>

    <h3>
        {{match.player1}} vs {{match.player2}}
    </h3>
    
    <button mat-button (click)="see()">{{match.youPlay ? "Jogar" : "Ver"}}</button>

</div>